.widefat {
  th.groups,
  td.groups {
    width: 35%;
  }
  th.fields,
  td.fields {
    width: 65%;
  }

}

.top_table {
  &>tbody>tr>td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

table.fields {
  width: 100%;
  th {
    line-height: 20px;
    padding: 0px;
    font-weight: bold;
  }

  td {
    line-height: 20px;
    padding: 0px;

    &.subfields {
      border-top: solid 1px #E4E4E4;
    }
    &.flexible_content {
      padding-bottom: 0px;
      th {
        font-weight: normal;
        font-size: 13px;
      }
    }
  }

  .field_type { width: 30%; }
  .field_label { width: 30%; }
  .field_name { width: 40%; }
}

table.subfields {
  border-top: solid 1px #E4E4E4;
  margin-bottom: 10px;

  th, td {
    font-size: 11px;
    line-height: 17px;
//    padding-left: 20px;
  }
  th {
    padding-top: 6px;
  }
}


#dashboard-widgets {
  h3  {
    margin-bottom: 0px;
    a.acflf_edit_link {
      color: #555;
      text-decoration: none;
      i.acf-hndle-cog {
        color: #555;
        font-size: 13px;
        text-decoration: none;
        line-height: 20px;
      }
      &:hover {
        color: #00a0d2;;
        i.acf-hndle-cog {
          color: #00a0d2;;
        }
      }
    }
  }
}

ul.conditions,
ul.sub_field  {
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 15px;
  font-size: 12px;

  li {
    margin: 0px 0px 0px 20px;
    list-style: disc;
    font-size: 12px;
    code {
      font-size: 12px;
      background: none;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.acflf_strong {
  margin-top: 5px;
  display: block;
}
