html.wp-toolbar {
  padding-top: 0px !important;
}

body {
  #wpadminbar {
    display: none !important;
  }
  #adminmenuback {
    display: none !important;
  }
  #adminmenuwrap {
    display: none !important;
  }
  #screen-meta, #screen-meta-links {
    display: none !important;
  }

  #wpcontent {
    margin-left: 0px;
  }
  #welcome-panel {
    display: none !important;
  }
  #wpcontent {
    margin-left: 0px;
    padding-left: 0px;
  }
  #dashboard-widgets {
    padding: 0px !important;
    margin: 0px;
  }
  .wrap {
    margin: 0px 0px 0 2px;
    >h1 {
//      display: none;
    }
  }
  #wpbody-content {
    .wrap {
      h1 {
//        display: block !important;
        display: none !important;
      }
      //h1:before {
      //  content: "Widget opzet:";
      //}
    }
  }

  .postbox {
    display: none;
    &#acflf {
      display: block;
    }
    .handlediv {
      display: none !important;
    }
  }

  i.acf-hndle-cog {
    display: none;
  }
  #wpbody-content {
    padding-bottom: 0px !important;
  }
  #postbox-container-2,
  #postbox-container-3,
  #postbox-container-4,
  #postbox-container-5,
  #wpfooter {
    display: none;
  }

  .inside {
    padding: 0px !important;
    margin: 0px !important;
    &>p {
      padding-left: 10px;
      display: none;
    }
    font-size: 11px;
  }

}

table.fields {
  font-size: 10px !important;
  .field_type { width: 25%; }
  .field_label { width: 25%; }
  .field_name { width: 50%; }
}


table.top_table {
  zoom: .85;
  font-size: 10px !important;
  thead {
    tr {
      th {
//        padding: 0px 0px 0px 0px;
      }
    }
  }
  &>tbody {
    &>tr>td {
      border-bottom: solid 1px silver;
    }
  }

  tbody {
    tr {
      td.group_details {
        ul.conditions {
          font-size: 11px;
        }
      }
      td.group_fields {
        table.fields {
          td {
            font-size: 11px;
            line-height: 17px;
          }
        }
        table.subfields {
          margin-bottom: 5px;
          td, th {
            font-size: 11px;
            line-height: 17px;
          }
          th {
            padding-top: 0px;
          }
        }
      }
    }
  }
}
